<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.dao.uuserMapper">

    <select id="findByuName" resultType="org.example.entity.uuser" parameterType="string">
        select * from uuser where name=#{name}
    </select>

    <update id="updateHeadshot" parameterType="org.example.entity.uuser">
        UPDATE uuser
        SET headshot = #{headshot}
        WHERE name = #{name}
    </update>

    <!-- 新增更新项目文件路径的SQL语句 -->
    <update id="updateProject" parameterType="org.example.entity.uuser">
        UPDATE uuser
        SET project = #{project}
        WHERE name = #{name}
    </update>

</mapper>
